[Unit]
Description=Webhook Handler
After=network.target

[Service]
User=sabina
WorkingDirectory=/home/sabina/webhook-handler
ExecStart=/usr/bin/python3 /home/sabina/webhook-handler/webhook_server.py
Restart=always

[Install]
WantedBy=multi-user.target
